.link_ghost_ui {
  @include border-radius(4px);
  @include flex-complete();
  @include transition(font-size 0.5s);
  border         : 1px solid $color02;
  color          : $color04;
  font-size      : 0;
  height         : 40px;
  padding        : 0 30px;
  text-decoration: none;
    
  &:hover, &:active {
    border-color: $color04;
    font-size   : 15px;

    img {
      margin-right: 10px;
    }
  }

  img {
    max-height: 20px;
  }
}