.search_ui {
  $father  : &;
  max-width: 700px;
  margin   : 10px auto 0;
  position : relative;
  width    : 80%;

  @media #{$xs} {
    width: 95%;
  }
  
  @import './mixin';

  &__input {
    @include transition(all 0.4s);
    @include border-radius(4px);
    background-color: initial;
    border          : 1px solid $color02;
    color           : $color02;
    font-size       : 20px;
    line-height     : 35px;
    outline         : none;
    padding         : 0 16% 0 15px;
    width           : 100%;

    @media #{$xs} {
      font-size: 16px;
      line-height: 30px;
      padding: 0 16% 0 5px;
    }
  }

  &__btn {
    @include transition(all 0.4s);
    @include border-radius(0 4px 4px 0);
    background-color   : $color04;
    background-repeat  : no-repeat;
    background-size    : 28px;
    background-position: center;
    background-image   : url('/images/icon_search.png');
    border             : 1px solid $color02;
    cursor             : pointer;
    height             : 100%;
    outline            : none;
    right              : 0;
    position           : absolute;
    top                : 0;
    width              : 15%;

    @media #{$xs} {
      background-size: 24px;
    }
  }

  &__input:focus {
    @include inputHover();

    & ~ #{$father}__btn {
      @include btnHover();
    }
  }

  &:hover {
    #{$father}__btn {
      @include btnHover();
    }

    #{$father}__input {
      @include inputHover();
    }
  }
}