.footer_ui {
  @include flex-complete(space-between);
  @include maxWidth();
  padding: 20px 50px;

  .link_repo {
    @include transition(all, 400ms);
    color: $color04;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;

    &:hover {
      color: $color06;
      text-decoration: line-through;
    }
  }
  
  .margin_right {
    margin-left: 20px;
    margin-right: auto;
  }
}