@import './scss/_mixins';
@import './scss/_vars';

* {
	box-sizing : border-box;
	margin     : 0;
	padding    : 0;
}

body, html, #root {
  background-color: $color01;
  color           : $color00;
  font-family: $fontFamily;
  font-size       : 17px;
  left            : 0;
  min-height      : 100%;
  position        : absolute;
  right           : 0;
  top             : 0;
}

@import './components/_index';