@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Alegreya+Sans:400,500,700');

//FONT FAMILY
$fontFamily: 'Alegreya Sans', sans-serif;
$fontSansSC: 'Alegreya Sans SC', $fontFamily;

//COLOR
$color00: #f3efe8;
$color01: #e8e1d7;
$color02: #c1b6b4;
$color03: #928588;
$color04: #3f373c;
$color05: #ffffff;