@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Alegreya+Sans:400,500,700');

//FONT FAMILY
$fontFamily: 'Alegreya Sans', sans-serif;
$fontSansSC: 'Alegreya Sans SC', $fontFamily;

//COLOR
$color00: #000000;
$color01: #ffffff;
$color02: #364f6b;
$color03: #3fc1c9;
$color04: #f5f5f5;
$color05: #fc5185;

//MEDIA QUERYS
$xss: '(max-width: 425px)';
$xs: '(max-width: 767px)';
$sm: '(max-width: 1023px)';